

<div class="container pt-5">
    <button type="submit" class="btn btn-light""><%= link_to "Crear un proyecto",projects_index_path%></button>
    <hr>
</div>


<div class="container">
    <p>Filtrar proyectos por estado</p>
    <form>
        <select name="status">
            <option value="propuesta">propuesta</option>
            <option value="en progreso">en progreso</option>
            <option value="terminado">terminado</option>
        </select>
    <button type="submit" class="btn btn-primary ">Filtrar</button>
    </form>     
</div>   

<br>
<div class="container">
    <h1>Proyectos</h1>
    
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de comienzo</th>
            <th>Fecha de término</th>
            <th>Estado</th>
        </tr>
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.name %></td>
                <td><%= project.description %></td>
                <td><%= project.stardate %></td>
                <td><%= project.endate %></td>
                <td><%= project.status %></td>
            </tr>
        <% end %>
    </table>
    <br>
</div>